*, html, body, p {
    margin: 0;
    padding: 0;
    font-site
}

body {
    background: url('https://api.ixiaowai.cn/gqapi/gqapi.php');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
}
